img {
    width: 25%;
    height: 200px;
}
/* this code is for all */

.zeyneb{
    color: red;
}

.cahangir{
    color: blue;
}

.fatimə{
    color: lightgreen;
}

iframe{
    width: 50%;
    height: 500px;
}